@import "tailwindcss";

@theme {
  --color-premium-black: #050505;
  --color-neon-fuchsia: #FF00FF;
  --color-neon-orange: #FF8C00;
  --color-dark-grey: #1A1A1A;
}

/* Esto es un "truco" para obligar al navegador a pintar el fondo */
* {
  background-color: #050505 !important;
  color: white !important;
}

/* Quitamos el bloqueo anterior para ver si el problema es el selector body */
html, body {
  background-color: #050505 !important;
  color: white !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
